@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.heading {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 43.2px;
    text-align: left;
    color: rgba(3, 7, 18, 1);
    padding-top: 48px !important;
}

a {
    text-decoration: none !important;
}

.para {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: rgba(98, 101, 109, 1);
    padding-bottom: 20px !important;

}

.para-span {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: rgba(37, 99, 235, 1);
    padding-left: 5px;
}

label[for="email"] {
    position: relative;
    display: flex;
    align-items: center;

}

label[for="password"] {
    position: relative;
    display: flex;
    align-items: center;
}

.icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.icon-1 {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.icon-2 {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
}

.icon-2:hover path {
    fill: black;
}

input[type="email"][id="email"] {
    padding: 8px 43px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    width: 100% !important;
    border: 1px solid rgba(228, 234, 247, 1) !important;
    background: rgba(245, 248, 255, 1);
    border-radius: 6px !important;
}

::placeholder {
    color: rgba(145, 151, 166, 1);
}

input[type="password"][id="password"] {
    padding: 8px 43px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    width: 100% !important;
    border: 1px solid rgba(228, 234, 247, 1) !important;
    background: rgba(245, 248, 255, 1);
    border-radius: 6px !important;
}

.forgot {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: right;
    color: rgba(98, 101, 109, 1);

}

.pointer {
    cursor: pointer;
}

label[for="remeber"] {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: rgba(98, 101, 109, 1);

}

.sign-btn {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    background: linear-gradient(83.67deg, #2194FF 10.02%, #2563EB 90.05%);
    width: 100%;
    cursor: pointer;
    margin-bottom: 16px !important;
    padding: 14px 32px 14px 32px;
    border-radius: 50px;
    border: 2px solid #2194FF;

}

.continue {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    margin: auto;
    color: rgba(145, 151, 166, 1);
    position: relative;
    margin-bottom: 20px !important;
}

.continue:before {
    content: "";
    width: 108px;
    height: 1px;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: rgba(201, 207, 219, 1);
    margin-bottom: 20px !important;
}

.form-check {
    padding-top: 12px !important;
    padding-bottom: 24px;
}

.continue:after {
    content: "";
    width: 108px;
    height: 1px;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    background-color: rgba(201, 207, 219, 1);
    margin-bottom: 20px !important;
}

.google-icon {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: rgba(98, 101, 109, 1);
}

.facebook-social {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: rgba(98, 101, 109, 1);
}

.social-image {
    background-image: url(../image/png/Sign\ in\ \(1\).png) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.google {
    width: 166px;
    height: 41px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(228, 234, 247, 1);
}

.facebook {
    width: 166px;
    height: 41px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(228, 234, 247, 1);
}



@media (min-width:992px) {
    section::after {
        content: "";
        position: absolute;
        background-image: url(../image/png/Rectangle\ 20759\ \(1\).png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        right: 0;
        height: 100%;
        left: 50%;
        width: 50%;
    }

    .circle {
        position: absolute !important;
        z-index: 99 !important;
        right: 6%;
        bottom: -56px;
    }

    .image-2 {
        position: absolute;
        right: 10%;
        bottom: 13%;
        z-index: 99;
    }

    .form {
        max-width: 340px !important;
        width: 100%;
    }

    .col-lg-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    img[ alt="social-icons"] {
        position: absolute;
        z-index: 99 !important;
        left: 149px;
    }

    .facebook-icon {
        top: 100px;
    }

    .twitter-icon {
        top: 410px;
    }

    .linkedin-icon {
        top: 201px;
    }

    .instagram-icon {
        top: 313px;
    }

}
@media (max-width:768px) {
    .col-lg-6::after {
        content: "";
        position: absolute;
        background-image: url(../image/png/Rectangle\ 20759\ \(1\).png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        left: 0%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .circle {
       display: none !important;
    }

    .image-2 {
        position: absolute;
        right: 132px;
        bottom: -492px;
        z-index: 99;
    }

    .form {
        max-width: 340px !important;
        width: 100%;
    }

    .col-lg-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    img[ alt="social-icons"] {
        position: absolute;
        z-index: 99 !important;
        left: -8px;
    }

    .facebook-icon {
        top: 186px;
    }

    .twitter-icon {
        top: 489px;
    }

    .linkedin-icon {
        top: 284px;
    }

    .instagram-icon {
        top: 393px;
    }

}
/* 
@media (max-width: 991.98px) and (min-width:576px) {

    .col-lg-6::after {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        left: 0px;
        background-image: url(../image/png/Rectangle\ 20759\ \(1\).png);
    }

    img[alt="group-circle"] {
        position: absolute;
        z-index: 1;
        top: 57px;
        left: 3%;
    }

    img[alt="photo-icon"] {
        position: absolute;
        z-index: 1;
        top: 174px;
        left: 48%;
    }

    .facebook-2 {
        position: absolute;
        z-index: 99 !important;
        left: 180px;
        top: -20px;
    }
}

@media (max-width:575.98px) {
    img[alt="photo-icon"] {
        display: none !important;
    }

    .col-lg-6::after {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        left: 0px;
        background-image: url(../image/png/bg-blue.png);
    }

    img[alt="photo-icon"] {
        position: absolute;
        z-index: 1;
        top: 175px;
        left: 29%;
    }

    img[ alt="social-icon"] {
        position: absolute;
        z-index: 99 !important;
        top: 439px;
    }

    .facebook-2 {
        left: 50px;
    }

    .linkdin-btn {

        left: 150px;
    }

    .instagram-btn {
        left: 260px;
    }



    .twiter-btn {
        left: 370px;
    }

}

@media (max-width:320px) {
    .col-lg-6::after {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center !important;
        width: 100%;
        height: 100%;
        left: 0px;
        background-image: url(../image/png/Rectangle\ 20759\ \(1\).png);
    }
    img[alt="group-circle"] {
       display: none !important;
    }
    img[alt="photo-icon"] {
        position: absolute;
        z-index: 99 !important;
        top: 175px;
        left: 29%;
    }
  

    .facebook-2 {
        left: 50px;
    }

    .linkdin-btn {

        left: 100px;
    }

    .instagram-btn {
        left: 260px;
    }

    .twiter-btn {
        left: 200px !important;
    }
   
}
 */
